@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --white: #ffffff;
  --white-soft: #F0F0F0;

  --black-soft: #151515;
  --dodger-blue: #1e90ff;

  --blue-highlight:  #5E7789;

  font-size: 62.5%;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-text: var(--black-soft);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black-soft);
    --color-text: var(--white-soft);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

/* this is where each page's viz will go */
.viz-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

/* container for the top of each page with key message */
.wavy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #9FCACB;
  position: sticky;
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: #edeadf;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family:
    Source Sans Pro,
    sans-serif;
  font-size: 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}
h2 {
  font-size: 3.5rem;
  font-weight: 800;
}