@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;800&display=swap');

/* Style sheet for shared assets across pages, including
   Color settings, page layout, etc 

   Add any shared style components to this document */


:root {
  --white: #ffffff;
  --white-soft: #F0F0F0;

  --banner-col: #9DC6D7; /* #9FCACB; */
  --blue-highlight-col:  #728393; /* #5E7789; */ 
  --blue-text-col: #00264C;/* #363E4A; */ /* #00264C; */

  --page-bkg-col: #FEFAF6;/* #edeadf; */

  --black-soft: #151515;


  font-size: 62.5%;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-text: var(--black-soft);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black-soft);
    --color-text: var(--white-soft);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

/* this holds the main content of each page, including text and viz */
.content-container {
  width: 80vw;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}
@media only screen and (max-width: 768px) {
  .content-container{
    width: 90vw;
  }
}

/* this is where each page's viz will go */
.viz-container { 
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  width: 100%;
  padding: 10px 0 10px 0;
}
@media only screen and (max-width: 768px) {
  .viz-container {
      flex-direction: column;
  }
}
.text-container {
  width: 60%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .text-container {
    width: 90%;
  }
}



/* button for switching between images */
.toggle-button{
  background-color: var(--blue-highlight-col);
  color: var(--white-soft);
  cursor:pointer;
  padding: 18px;
  width: 300px;
  border: none;
  text-align: left;
  outline: none; 
}
.toggle-button:hover{
  background-color: var(--blue-text-col);
  color: var(--white-soft);
}

/* container for the top of each page with key message */
.wavy-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  max-height: max-content;
  min-height: 60px;
  background-color: var(--banner-col);
  position: sticky;
  z-index: 1001;
}

/* container for waves */
section{
  position: relative;
  width: 100%;
}
section .waves{
  position: relative;
}
section .waves .wave{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: url('wave.png');
  background-size: 1000px 50px;
}

section .waves .wave#wave1{
  opacity: 1;
  bottom: 0; 
  z-index: 1000;
  animation: animate 6s linear infinite;
}
section .waves .wave#wave2{
  opacity: 0.5;
  bottom: 2px; 
  z-index: 999;
  animation: animate2 6s linear infinite;
}
section .waves .wave#wave3{
  opacity: 0.2;
  bottom: 5px; 
  z-index: 998;
  animation: animate 4s linear infinite;
}
section .waves .wave#wave4{
  opacity: 0.7;
  bottom: 10px; 
  z-index: 999;
  animation: animate2 4s linear infinite;
}
@keyframes animate {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--page-bkg-col);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family:
    Source Sans Pro,
    sans-serif;
  font-size: 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}
h2 {
  font-size: 3.5rem;
  font-weight: 800;
}
h3 {
  font-size: 3.5rem;
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

.viz-placeholder{
  width: 100%;
}

/* Settings for the interactive svgs with hover effects */
.agg-reg-svg {
  width: 20%;
  height: auto;
  margin-right: 20px;
}

@media only screen and (max-width:490px) {
  .agg-reg-svg {
  width: 40%;
  height: auto;
  margin-right: 0px;
  margin-bottom: -80px;
  margin-top: -50px;
  }
}