@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;800&display=swap');

/* Style sheet for shared assets across pages, including
   Color settings, page layout, etc 

   Add any shared style components to this document */


:root {
  --white: #ffffff;
  --white-soft: #F0F0F0;

  --banner-col: #9FCACB;
  --blue-highlight-col:  #5E7789;
  --blue-text-col: #00264C;

  --page-bkg-col:#edeadf;

  --black-soft: #151515;


  font-size: 62.5%;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-text: var(--black-soft);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black-soft);
    --color-text: var(--white-soft);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

/* this is where each page's viz will go */
.viz-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
@media only screen and (max-width: 768px) {
  .viz-container {
      flex-direction: column;
  }
}


/* text box within the wavy container that houses key messages */
.key-message-container {
  height: 70%;
  width: 50%;
  color: rgb(0, 38, 76);
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .key-message-container {
      height: 70%;
      width: 90%;
      padding: 15px;
      align-items: center;
      font-size: 18px;
  }
}

/* button for switching between images */
.toggle-button{
  background-color:#5E7789;
  color: #fff;
  cursor:pointer;
  padding: 18px;
  width: 300px;
  border: none;
  text-align: left;
  outline: none; 
}
.toggle-button:hover{
  background-color: #00264c;
  color: white;
}

/* container for the top of each page with key message */
.wavy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #9FCACB;
  position: sticky;
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: #edeadf;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family:
    Source Sans Pro,
    sans-serif;
  font-size: 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}
h2 {
  font-size: 3.5rem;
  font-weight: 800;
}

.viz-placeholder{
  width: 50%;
}
@media only screen and (max-width:490px) {
  .viz-placeholder {
    width: 100%;
  }
}

/* Settings for the interactive svgs with hover effects */
.agg-reg-svg {
  width: 20%;
  height: auto;
  margin-right: 20px;
}

@media only screen and (max-width:490px) {
  .agg-reg-svg {
  width: 40%;
  height: auto;
  margin-right: 0px;
  margin-bottom: -80px;
  margin-top: -50px;
  }
}