@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;800&display=swap');

/* Style sheet for shared assets across pages, including
   Color settings, page layout, etc 

   Add any shared style components to this document */

:root {
  --white: #ffffff;
  --white-soft: #F0F0F0;
  --page-bkg-col: var(--cream-background);
  --usgs-blue: #00264c;
  --usgs-green: #006F41;

  /* updated color scheme */
  --blue-dark: #00264C; /* same as usgs header*/
  --blue-light: #9DC6D7;
  --cream-background: #FFF;/* old cream: #FEFAF6;*/
  --teal-dark: #386785;
  --black-soft: #151515;
  --blue-bright: #0f52ba; /* link color */

  --default-font: Source Sans Pro;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-text: var(--black-soft);
  --color-USGS-header-footer: var(--usgs-blue);
  --color-link: var(--blue-bright);
}

/* variables for this project */
:root {
  --sui-severe: #FEFEB2;
  --sui-high: #C3C284;
  --sui-mod: #A0A597;
  --sui-low: #527685;
  --sui-none: #05598C; 
  --wa-none: #E8E8E8;
  --wa-low: #B3B3B3;
  --wa-mod: #8F8F8F;
  --wa-high: #666666;
  --wa-severe: #333333;
  --ws-supply: #1687A5;
  --ws-demand: #965a5b;
  --wu-gw: #355b65;
  --wu-sw: var(--ws-supply);
  --wq-natural: #8EB69B;
  --wq-biotic: var(--wq-natural);
  --wq-temp: #ffb0b0;
  --wq-metal: #7a7f80;
  --wq-sediment: #b0904f;
  --wq-agriculture: var(--wq-sediment);
  --wq-wastewater: var(--ws-supply);
  --wq-air: #B5E1E0;
  --wq-salinity: #418692;
  --wq-high: #270c3f;
  --wq-unimpaired: #6591d3;
  --wq-mod: #93658f;
  --wq-nutrients: var(--wq-mod);
  --wq-low: #d8cde3;
  --wu-agriculture: #b0904f;
  --wu-ps: #822734;
  --wq-organics: var(--wu-ps);
  --wu-te-fresh: #3E4C5B;
  --wu-te-saline: #09a7c3;
  --inactive-grey: #ACB6BE;
  --default-fill: #d1cdc0;
  --focal-fill: #5E686D;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
/* core style settings for text */
body {
  min-height: 100vh;
  color: var(--black-soft);
  background: var(--cream-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.4;
  font-family:
    Source Sans Pro,
    sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 { /* defined differently "main-title" on landing page in VisualizationVue.vue */
  font-size: 3rem;
  font-weight: 800;
  color: var(--blue-dark);
}
h2 {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--blue-dark);
  padding-top: 15px;
}
.h2-nospacer {
  padding-top: 0;
}
h3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--soft-black);
  line-height: 2.2rem;
  padding-bottom: 10px;
  padding-top: 20px;
}
.h3-nospacer {
  padding-top: 0;
  padding-bottom: 0;
}
h4 { /* redefined for key finding description with class "subheading" below */
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--soft-black);
}
/* links */
a {
  color: var(--blue-bright);
}
a:visited {
  color: var(--blue-bright);
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--blue-dark);
    line-height: 2.4rem;
  }  
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue-dark);
    line-height: 2.0rem;
    padding-top: 10px
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--soft-black);
    line-height: 1.8rem;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--soft-black);
  }
}
li {
  padding-top: 10px;
}
/* containers for different page elements */
.content-container {
  width: 80vw;
  margin: 0 auto;
  padding: 5px 0 5px 0;
}
@media only screen and (max-width: 600px) {
  .content-container{
    width: 90vw;
    margin: 0 auto;
  }
}

/* this is where each page's viz will go */
.viz-container { 
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  width: 100%;
  padding: 10px 0 10px 0;
}
.chart-title-container {
  display: flex;
  flex-direction: column; 
  align-items: left;
  justify-content: center;
  width: 65%;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}
@media only screen and (max-width: 600px) {
  .viz-container {
      flex-direction: column;
      padding: 0 5px;
      width: 100vw;
      max-width: none;
      justify-content: flex-start;
  }
  .chart-title-container {
    flex-direction: column;
    padding: 0 5px;
    width: 100vw;
    max-width: none;
    justify-content: flex-start;
  }
}
.text-container {
  width: 65%;
  min-width: 600px;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* chart styling */
.chart-container {
  width: 65%;
  min-width: 700px;
  margin: 0 auto;
  padding-bottom: 0px;
}
.chart-title {
  font-size: 1.6rem; /* same as H4 */
  font-family: var(--default-font);
  font-weight: 700;
  fill: var(--color-text);
}

.chart-text, .category-label, .value-label, .chart-subtitle {
  font-size: 1.15rem; /* same as regular text */
  font-family: var(--default-font);
  font-weight: 400;
  fill: var(--color-text);
}
/* Text for d3 chart axes, etc */
.axis-title {
  font-size: 1.15rem;
  font-family: var(--default-font);
  font-weight: 700;
  fill: var(--color-text);
  user-select: none;
  @media screen and (max-width: 600px) {
      font-size: 1.15rem;
  }
}
.axis-text{
  font-family: var(--default-font);
  font-size: 0.9rem;
}
@media only screen and (max-width: 600px) {
  .chart-title {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .chart-text, .category-label, .value-label, .chart-subtitle {
    font-size: 0.9rem;
  }
  .axis-text{
    font-family:
      Source Sans Pro,
      sans-serif;
    font-size: 0.9rem;
  }
}
.kf-container {
  width: 65%;
  min-width: 600px;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .text-container {
    width: 95%;
    min-width: 300px;
  }
  .kf-container {
    width: 65%;
    min-width: 90vw;
    margin: 0 auto;
  }
}
.references-container{
  width: 98%;
  min-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}
.methods-container{
  width: 65%;
  min-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}
.references-container p {
  padding-left: 20px;
}
/* indentation of numbering */
.references-container p:first-letter {
  margin-left: -20px;
}
@media only screen and (max-width: 600px) {
  .references-container {
    width: 95%;
    min-width: 200px;
  }
  .methods-container {
    width: 95%;
    min-width: 200px;
  }
}
.button-container {
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* caption div that contains the caption and buttons/legend */
.caption-container {
  display: block;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 55%;
  min-width: 400px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 15px;
}
/* caption div */
.caption-text-child {
  flex: 1;
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic
}
.caption-container-flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}
.caption-text-flex {
  flex-grow: 1;
  max-width: 600px;
}
@media only screen and (max-width: 600px) {
  .caption-container {
    display: grid;
    width: 90vw;
    max-width: 100vw;
    margin: 0 auto;
    grid-gap: 5px;
    grid-template-columns: 1fr;
  }
  /* caption div */
  .caption-text-child {
    font-size: 0.9rem;
    font-weight: 400;
    font-style: italic
  }
}
/* legend div */
.toggle-legend-child {
  display: flex;
  width: 300px;
  margin-top: 20px;
  margin: auto;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  z-index: 999;
  button {
    padding: 1px;
    margin: 5px;
    text-align: center;
  }
}

.toggle-group {
  display: flex;
  flex-direction : column;
  flex-shrink: 0;
}
.legend-group {
  display: flex;
  flex-direction : column;
  flex-shrink: 0;
}

.checkbox_item .checkbox_wrap{
  cursor: pointer;
}
.checkbox_item:last-child .checkbox_wrap{
	margin-bottom: 0;
}

.checkbox_item .checkbox_wrap .checkbox_inp{
	opacity: 0;
	z-index: 1;
}
/* flat styles */
.checkbox_item .checkbox_wrap .checkbox_mark{  /* when layer is on */
  border: 2px solid cyan;
	width: 30px;
	height: 30px;
	padding: 1px;
}
.checkbox_item .checkbox_wrap .checkbox_mark:before{ /* when layer is on */
	top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
}
.color-legend-single {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
}
  
.caption-legend-child {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
/* buttons to link to report and data companion */
.report-link-container {
  padding: 40px 20px 0 20px;
  text-align: center;
  z-index:9999;
}
.home-link-container {
  text-align: center;
  z-index:9999;
  margin-top: 5px;
  margin-bottom: 5px;
}
.report-link {
  display: inline-block;
  padding: 20px 40px;
  margin: 5px;
  color: var(--blue-dark);
  border: 2px solid var(--blue-dark);
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}
.home-link {
  padding: 15px 10px;
  margin: 5px ;
  color: var(--teal-dark);
  text-decoration: none;
}
.home-link:hover {
  color: var(--blue-dark)
}

.report-link:hover {
  background-color: var(--blue-dark);
  color: white;
}
.report-link:hover h2 {
  color: white;
}
@media only screen and (max-width: 600px) {
  .report-link-container {
    padding: 20px 10px 0 10px;
  }
  .report-link {
    padding: 10px 20px;
  }
  .home-link {
    padding: 10px;
  }
}

/* container for the top of each page with key message */
.wavy-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  max-height: max-content;
  min-height: 60px;
  background-color: var(--blue-light);
  position: sticky;
  z-index: 1001;
}

/* container for waves */
section{
  position: relative;
  width: 100%;
}
section .waves{
  position: relative;
}
section .waves .wave{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: url('/wave.png');
  background-size: 1000px 50px;
}

section .waves .wave#wave1{
  opacity: 1;
  bottom: 0; 
  z-index: 1000;
  animation: animate 12s linear infinite;
}
section .waves .wave#wave2{
  opacity: 0.5;
  bottom: 2px; 
  z-index: 999;
  animation: animate2 19s linear infinite;
}
section .waves .wave#wave3{
  opacity: 0.2;
  bottom: 5px; 
  z-index: 998;
  animation: animate 14s linear infinite;
}
section .waves .wave#wave4{
  opacity: 0.7;
  bottom: 10px; 
  z-index: 999;
  animation: animate2 14s linear infinite;
}
.upside-down {
  transform: scaleY(-1); /* Flip the waves upside down */
}
@keyframes animate {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* reference number */
.in-text-number {
  font-size: 0.8rem;
  color: var(--blue-bright)
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.subheading, .kf-text {
  font-weight: 400;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .subheading, .kf-text {
    font-size: 1.2rem;
  }
}
.subheading {
  border-left: 10px solid var(--teal-dark);
  margin: 1.5em 5% 1.5em 0;
  padding: 0.5em 15px;
}
@media only screen and (max-width: 600px) {
  .subheading {
    border-left: 5px solid var(--teal-dark);
    margin: 1.5em 0 1.5em 0;
    padding: 0.5em 0px 0.5em 14px;
  }
}

@media only screen and (max-width: 600px) {
  .dropdown-container {
    margin-top: 20px;
    text-align: center;
    align-items: center;
  }

  .dropdown-container select {
    font-size: 1.5rem;
    padding: 8px 16px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }

  #barplot-container {
    max-width: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
  }
}



.viz-placeholder{
  width:80%;
}
.viz-portrait{
  max-width: 100%;
  max-height: 75vh;
}
.viz-landscape{
  width: 80%;
}
.viz-half {
  width: 50%;
}
.viz-double-portrait{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 15px;
  background-color: white;
  width: 30%;
  margin: 10px;
}
@media only screen and (max-width: 600px) {
  .viz-double-portrait{
    width: 80%;
  }
}

/* Settings for the interactive svgs with hover effects */
.agg-reg-svg {
  width: 20%;
  height: auto;
  margin-right: 20px;
}
.reg-svg {
  width: 20%;
  height: auto;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .agg-reg-svg {
  width: 40%;
  height: auto;
  margin-right: 0px;
  margin-bottom: -80px;
  margin-top: -50px;
  }
  .reg-svg {
    width: 40%;
    height: auto;
    margin-right: 0px;
    margin-bottom: -80px;
    margin-top: -50px;
    }
}
/* animated waves */
.wavy-container {
  position: relative;
  z-index: 1; /* set waves below hamburger */
}
.waves {
  position: relative;
  z-index: 1; /* ensure waves stay below menu */
}
/* hamburger menu */ 
.hamburger-menu {
  width: 35px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
}

.hamburger-menu div {
  width: 100%;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.bar2 {
  opacity: 0;
}

.bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.bar {
  transform: none;
  opacity: 1;
}
.dropdown-menu {
  position: absolute;
  top: 60px; /* Position it just below the hamburger */
  right: 20px; /* Align it to the right-hand side */
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 99;
  padding: 10px;
  border-radius: 4px;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a,
.dropdown-menu router-link {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.dropdown-menu a:hover,
.dropdown-menu router-link:hover {
  background-color: #f1f1f1;
  color: #000;
}

/* key findings raindrop */
.raindrop-static {
  width: 100px;
  height: 100px;
  border-radius: 0 50% 50% 50%;
  border: 0px;
  transform: rotate(45deg);
  margin: 20px auto 0px auto;
  background-color: var(--blue-light);
  border: 0 solid;
  box-shadow: inset 0 0 40px  var(--blue-dark);
  outline: 1px solid;
  outline-color: var(--cream-background);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.raindrop-static-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  color: white;
  font-size: 5rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .raindrop-static{
        width: 40px;
        height: 40px;
    }
    .raindrop-static-text{
        font-size: 2.2rem;
    }
    .hamburger-menu {
    top: 10px;
    right: 10px;
  }
}


.accordion, .references-accordion {
  background-color: var(--cream-background);
  color: var(--soft-black);
  cursor: pointer;
  padding: 5px;
  padding-bottom: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 2px solid var(--teal-dark);
}

.accordion::before, .references-accordion::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid transparent;
  z-index: -1;
  transition: border-color 0.3s;
}

.accordion:hover::before, .accordion.active::before, .references-accordion:hover::before, .references-accordion.active::before {
  border-color: var(--cream-background);
}

.active, .references-active, .accordion:hover, .references-accordion:hover {
  background-color: var(--blue-light); 
  color: black;
}

.panel, .panel-references {
  display: none; 
  overflow: visible;
  margin-bottom: -15px;
  margin-top: -15px;
}

.panel p{
  margin: 20px 25px 0px 25px;
  font-size: 1.15rem;
}
.panel-references {
  margin: 0px 0px 0px 0px;
  font-size: 1.15rem;
}
  
.symbol {
  font-size: 32px;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .panel p, .panel-references {
    font-size: 1rem;
  }
}
