@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;800&display=swap');

/* Style sheet for shared assets across pages, including
   Color settings, page layout, etc 

   Add any shared style components to this document */


:root {
  --white: #ffffff;
  --white-soft: #F0F0F0;
  --page-bkg-col: var(--cream-background);
  --usgs-blue: #00264c;
  --usgs-green: #006F41;

  /* updated color scheme */
  --blue-dark: #00264C; /* same as usgs header*/
  --blue-light: #9DC6D7;
  --cream-background: #FEFAF6;
  --teal-dark: #386785;
  --black-soft: #151515;
  --blue-bright: #0f52ba; /* link color */

  font-size: 62.5%;
  --default-font: Source Sans Pro;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-text: var(--black-soft);
  --color-USGS-header-footer: var(--usgs-blue);
  --color-link: var(--blue-bright);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black-soft);
    --color-text: var(--white-soft);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

/* this holds the main content of each page, including text and viz */
.content-container {
  width: 80vw;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}
@media only screen and (max-width: 768px) {
  .content-container{
    width: 90vw;
  }
}


/* this is where each page's viz will go */
.viz-container { 
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  width: 100%;
  padding: 10px 0 10px 0;
}
@media only screen and (max-width: 768px) {
  .viz-container {
      flex-direction: column;
      padding: 0 5px;
      width: 100vw;
      max-width: none;
      justify-content: flex-start;
  }
}
.text-container {
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}
@media only screen and (max-width: 768px) {
  .text-container {
    width: 90%;
    min-width: 200px;
  }
}
.references-container{
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}
.methods-container{
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}
.references-container p {
  font-size: 18px;
  line-height: 1.4;
  padding-left: 20px;
}
.references-container p:first-letter {
  margin-left: -20px;
}
@media only screen and (max-width: 768px) {
  .references-container {
    width: 90%;
    min-width: 200px;
  }
  .methods-container {
    width: 90%;
    min-width: 200px;
  }
}
.button-container {
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.report-link-container {
  padding: 40px 20px;
  text-align: center;
  z-index:9999;
}

.report-link {
  display: inline-block;
  padding: 20px 40px;
  margin: 5px;
  font-size: 2rem;
  color: var(--blue-dark);
  border: 2px solid var(--blue-dark);
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.report-link:hover {
  background-color: var(--blue-dark);
  color: white;
}

/* button for switching between images */
.toggle-button{
  background-color: var(--teal-dark);
  color: var(--white-soft);
  cursor:pointer;
  padding: 18px;
  width: 300px;
  border: none;
  text-align: left;
  outline: none; 
}
.toggle-button:hover{
  background-color: var(--blue-dark);
  color: var(--white-soft);
}

/* container for the top of each page with key message */
.wavy-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  max-height: max-content;
  min-height: 60px;
  background-color: var(--blue-light);
  position: sticky;
  z-index: 1001;
}

/* container for waves */
section{
  position: relative;
  width: 100%;
}
section .waves{
  position: relative;
}
section .waves .wave{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: url('/wave.png');
  background-size: 1000px 50px;
}

section .waves .wave#wave1{
  opacity: 1;
  bottom: 0; 
  z-index: 1000;
  animation: animate 12s linear infinite;
}
section .waves .wave#wave2{
  opacity: 0.5;
  bottom: 2px; 
  z-index: 999;
  animation: animate2 19s linear infinite;
}
section .waves .wave#wave3{
  opacity: 0.2;
  bottom: 5px; 
  z-index: 998;
  animation: animate 14s linear infinite;
}
section .waves .wave#wave4{
  opacity: 0.7;
  bottom: 10px; 
  z-index: 999;
  animation: animate2 14s linear infinite;
}
.upside-down {
  transform: scaleY(-1); /* Flip the waves upside down */
}
@keyframes animate {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

body {
  min-height: 100vh;
  color: var(--black-soft);
  background: var(--cream-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family:
    Source Sans Pro,
    sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-bottom: 100px; to make room for footer */
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--teal-dark);
}
h2 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--blue-dark);
}
h3 {
  font-size: 3.0rem;
  font-weight: 700;
  color: var(--soft-black);
}
h4 {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  color: var(--soft-black);
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--blue-dark);
  }  
  h2 {
    font-size: 2.8rem;
    font-weight: 800;
    color: var(--teal-dark);
  }
  h3 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--soft-black);
  }
  h4 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--soft-black);
  }
}
.subheading {
  border-left: 10px solid var(--teal-dark);
  margin: 1.5em 5% 1.5em 0;
  padding: 0.5em 15px;
}
@media only screen and (max-width: 768px) {
  .subheading {
    border-left: 5px solid var(--teal-dark);
    margin: 1.5em 0 1.5em 0;
    padding: 0.5em 0px 0.5em 14px;
  }
}

@media only screen and (max-width: 768px) {
  .dropdown-container {
    margin-top: 20px;
    text-align: center;
    align-items: center;
  }

  .dropdown-container select {
    font-size: 1.5rem;
    padding: 8px 16px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }

  #barplot-container {
    max-width: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
  }
}

/* Text for d3 chart axes, etc */
.axis-title {
  font-size: 1.8rem;
  font-family: var(--default-font);
  font-weight: 900;
  fill: var(--color-text);
  user-select: none;
  @media screen and (max-width: 600px) {
      font-size: 1.6rem;
  }
}
.axis-text{
  font-family:
    Source Sans Pro,
    sans-serif;
  font-size: 1.8rem;
}
@media only screen and (max-width:490px) {
  .axis-text{
    font-family:
      Source Sans Pro,
      sans-serif;
    font-size: 1.6rem;
  }
}

.viz-placeholder{
  width:80%;
}
.viz-portrait{
  max-width: 100%;
  max-height: 75vh;
}
.viz-landscape{
  width: 80%;
}
.viz-half {
  width: 50%;
}
.viz-double-portrait{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 15px;
  background-color: white;
  width: 30%;
  margin: 10px;
}
@media only screen and (max-width:490px) {
  .viz-double-portrait{
    width: 80%;
  }
}

/* Settings for the interactive svgs with hover effects */
.agg-reg-svg {
  width: 20%;
  height: auto;
  margin-right: 20px;
}
.reg-svg {
  width: 20%;
  height: auto;
  margin-right: 20px;
}

@media only screen and (max-width:490px) {
  .agg-reg-svg {
  width: 40%;
  height: auto;
  margin-right: 0px;
  margin-bottom: -80px;
  margin-top: -50px;
  }
  .reg-svg {
    width: 40%;
    height: auto;
    margin-right: 0px;
    margin-bottom: -80px;
    margin-top: -50px;
    }
}


.hamburger-menu {
  width: 35px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
}

.hamburger-menu div {
  width: 100%;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.bar2 {
  opacity: 0;
}

.bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.bar {
  transform: none;
  opacity: 1;
}
.dropdown-menu {
  position: absolute;
  top: 60px; /* Position it just below the hamburger */
  right: 20px; /* Align it to the right-hand side */
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 99;
  padding: 10px;
  border-radius: 4px;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a,
.dropdown-menu router-link {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.dropdown-menu a:hover,
.dropdown-menu router-link:hover {
  background-color: #f1f1f1;
  color: #000;
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    top: 10px;
    right: 10px;
  }
}